<div class="text-center">

<h1>Auction Finder</h1>


<%= select_tag 'make', options_for_select(@make.pluck('make'),'Maserati')%>

<%= select_tag 'model', options_for_select(@models.pluck('model'),'Quattroporte')%>
<br/>
<br/>
<br/>


<%= link_to 'Search', '/browse/auction' %>

</div>
